/* here goes my background gradient... */
body{
  background: rgb(158, 220, 165);
  background: linear-gradient(90deg, rgb(180, 247, 99) 14%, rgb(221, 159, 159) 100%);
  background: -moz-linear-gradient(90deg, hsla(331, 60%, 84%, 1) 14%, hsla(208, 90%, 88%, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 14%, hsla(208, 90%, 88%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEBCD4", endColorstr="#C3E1FC", GradientType=1 );
}
/* making pretty text */
.text1{
  font-family: 'DejaVu Sans Mono', sans-serif;
  font-size: 210px;
}
.text2{
  font-family: 'DejaVu Sans Mono', sans-serif;
  font-size: 100px;
}
/* removing those ugly underline decorations */
a{
  text-decoration: none;
}
/* buttons */
.button2{
  background: rgb(91, 91, 91);
  font-family:'DejaVu Sans Mono', sans-serif;
  color: black;
  transition: all 0.7s ease-in-out;
  border: 0.1px solid black;
  border-radius: 6px;
}
.switch{
  background: rgb(91, 91, 91);
  font-family:'DejaVu Sans Mono', sans-serif;
  color: black;
  transition: all 0.7s ease-in-out;
  border: 0.1px solid black;
  border-radius: 6px;
}
/* making pretty hover for my buttons */
.button1:hover{
  background-color: rgb(124, 124, 124);
  color: rgb(39, 25, 25);
}
.button2:hover{
  background-color: rgb(124, 124, 124);
  color: rgb(39, 25, 25);
}
.buttonukr1:hover{
  background-color: rgb(124, 124, 124);
  color: rgb(39, 25, 25);
}
.switch:hover{
  background-color: rgb(124, 124, 124);
  color: rgb(39, 25, 25);
}
/* div button holder */
.divholder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}